:root {
  --teksto-spalva: rgb(255, 255, 255);
  --mygtuku: #ffdf61cb;
  --pagr: #225a6aad;
}

* {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/*Body*/

body {
  padding-top: 11vh;
  background: rgb(139, 169, 177);
  background: linear-gradient(
    186deg,
    rgba(139, 169, 177, 0.3) 13%,
    rgba(34, 90, 106, 0.5) 90%
  );
}

/*Header*/
header {
  z-index: 1;
  top: 0;
  height: 12vh;
  width: 100vw;
  background-color: #225a6a41;
  backdrop-filter: blur(3px);
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header img {
  height: 3.5rem;
}

#logo {
  padding: 1rem;
}

#logo:hover {
  transform: scale(1.1);
}

/*Breadcrums*/

.breadcrums {
  position: fixed;
  top: 8vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
}

.breadcrums ul {
  background-color: rgba(245, 245, 245, 0.911);
  border-radius: 7px;
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 2px;
}
.breadcrums li {
  padding-left: 0.5rem;
  text-align: center;
}

.breadcrums p {
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 900;
  padding-right: 0.5rem;
}

.breadcrums a {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.breadcrums i {
  color: #225a6a;
}

/*Landing Page*/
#landing {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

#plento {
  background-image: url(/img/Plento_dviratis.jpg);
}

#mtb {
  background-image: url(/img/MTB_dviratis.jpg);
}

#plento,
#mtb {
  justify-content: center;
  align-items: center;
  height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#plento a,
#mtb a {
  height: 3rem;
  width: 9rem;
  text-decoration: none;
  background-color: #225a6a96;
  text-align: center;
  padding: 0.5rem;
  color: var(--teksto-spalva);
  border-radius: 7px;
  font-size: 1.5rem;
}

#landing a:hover {
  transform: scale(1.05);
}

/*straipsniai*/

.straipsniai {
  height: 100vh;
  width: auto;

  margin: 2%;
}

.straipsniai a {
  text-decoration: none;
  color: var(--teksto-spalva);
}

.straipsniai-mgtk {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ugis {
  background-color: rgba(245, 245, 245, 0.541);
  border: none;
  padding: 0.2rem;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
}

.straipsniai-mgtk button {
  text-decoration: none;
  border: none;
  background-color: var(--pagr);
  color: var(--teksto-spalva);
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  font-size: large;
}

.dydzio-skaiciavimas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 5px;
  width: 35vw;
}

.ugio-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dydzio-skaiciavimas button {
  padding: 0.2rem;
  background-color: var(--mygtuku);
  color: var(--teksto-spalva);
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
.dydzio-skaiciavimas button:hover {
  transform: scale(1.05);
}

.straipsniai-su-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*Plento straipsniai*/

#plento2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  height: 60%;
  width: 100%;
}

#remas {
  background-image: url(/img/remas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 35vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sedyne {
  background-image: url(/img/Dviračio_sėdynė.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 35vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pedalai {
  background-image: url(/img/plento_pedalas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 35vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*MTB straipsniai*/

#mtb2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  width: 100%;
}

#mtb-remas {
  background-image: url(/img/mtb-remas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 35vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mtb-ratai {
  background-image: url(/img/mtb-ratas2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 35vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Straipsniai aprasymas on click*/

.aprasymas {
  height: 0;
  width: fit-content;
  overflow: hidden;

  transition: 0.2s ease;
}

.parent {
  margin: 0 auto;
}

.parent.active .aprasymas {
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  border-radius: 7px;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.65);
  color: var(--teksto-spalva);
}

.placiau {
  background-color: #225a6a;
}

/*Pats straipsnis (blog-content)*/

.pirmas {
  align-items: center;
  justify-content: space-evenly;
}

i {
  color: #ffffff;
}

.straipsnis-container {
  margin: auto;
  height: auto;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  line-height: 1.5;
  border-radius: 7px;
  padding: 3%;
  background: rgb(139, 169, 177);
  background: linear-gradient(
    186deg,
    rgba(139, 169, 177, 0.1) 13%,
    rgba(34, 90, 106, 0.2) 90%
  );
}

.straipsnis-container img {
  border-radius: 7px;
  height: 8rem;
  width: auto;
  margin: 2rem;
}

.straipsnis-container a {
  text-decoration: none;
}

.remo-dydis img {
  align-self: center;
  opacity: 80%;
}

h2,
h3 {
  text-align: center;
  font-size: x-large;
}

p,
h4 {
  font-size: larger;
}

img {
  max-width: 250px;
  height: auto;
}

.img {
  text-align: center;
}

/*Cookie*/
.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640b4;
  color: #fff;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container i {
  padding: 5px;
  color: brown;
}

.cookie-btn {
  width: fit-content;
  background: #e84118;
  border: 0;
  color: #fff;
  padding: 12px 48px;
  font: 1.2rem;
  margin-bottom: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/*Slapuku politika*/
.slapuku-politika {
  height: fit-content;
  width: 65vw;
}

/*Footer*/
footer {
  align-content: center;
}

#ftr {
  padding: 1rem;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}
#mail {
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 5px;
  background-color: #ffdf61;
  margin-right: 1rem;
  border-radius: 7px;
  flex-direction: row;
}

#mail:hover {
  transform: scale(1.05);
}

#mail a {
  text-decoration: none;
  color: var(--teksto-spalva);
}

#metai {
  font-size: 0.8rem;
  padding-left: 1rem;
}

@media screen and (max-width: 500px) {
  #landing {
    grid-template-columns: 1fr;
    padding-top: 4.5vh;
  }

  #plento2,
  #mtb2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  #remas,
  #sedyne,
  #mtb-remas,
  #mtb-ratai {
    background-size: cover;
    width: 80vw;
    height: auto;
  }

  #plento a,
  #mtb a {
    font-size: 1rem;
  }

  .straipsnis-container {
    width: 75%;
  }

  .straipsniai {
    grid-template-columns: 1fr;
  }

  .straipsniai-mgtk {
    left: auto;
  }

  #plento,
  #mtb {
    background-size: contain;
    height: 40vh;
    width: auto;
  }

  .straipsniai-su-img {
    flex-direction: column;
  }
}

/* Norima spalvu schema */

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(25, 31, 32);
    background: linear-gradient(
      186deg,
      rgba(20, 24, 26, 0.5) 13%,
      rgba(4, 11, 14, 0.8) 90%
    );
  }

  #mail {
    background-color: #756627;
  }

  .breadcrums ul {
    background-color: rgba(167, 167, 167, 0.911);
  }

  .breadcrums a,
  .breadcrums p {
    color: var(--teksto-spalva);
  }
}

/* @media (prefers-color-scheme: light) {
  body {
    background: rgb(139, 169, 177);
    background: linear-gradient(
      186deg,
      rgba(139, 169, 177, 0.3) 13%,
      rgba(34, 90, 106, 0.5) 90%
    );
  }
} */
